<h1>Sign up</h1>

<%= form_with model: @user, url: signups_path do |form| %>
  <% if @user.errors.any? %>
    <div>
      <h2><%= pluralize(@user.errors.count, "error") %> prevented signup:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email, required: true %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation, required: true %>
  </div>

  <div>
    <%= form.submit "Create account" %>
  </div>
<% end %>

<p>
  Already have an account?
  <%= link_to "Sign in", new_session_path %>
</p>
